/* tablate screen divice design */
@media only screen and (min-width: 35rem) {
    .container {
        max-width: 32rem;
    }

    .hero-banner-1 {
        padding-inline: 3rem;
    }
}

/* tablate screen divice design */
@media only screen and (min-width: 48rem) {
    .container {
        width: 100%;
        max-width: 45rem;
    }

    .hero-left h1 {
        font-size: 3.5rem;
    }

    .hero-right {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 1.2rem;
    }

    .hero-banner-1 {
        padding: unset;
    }

    .hero-banner-1 img {
        margin: 0rem;
    }

    .hero-shape img {
        right: 1rem;
    }

    .about-img-1 img {
        max-width: 38rem;
        margin-block-start: 20rem;
    }

    .about-img-2 img {
        max-width: 30rem;
    }
}

/* desktop screen divice design */
@media only screen and (min-width: 62rem) {
    .container {
        max-width: 58rem;
    }

    .logo a {
        font-size: 2.1rem;
    }

    .nav-open-btn {
        display: none;
    }

    .nav-bar {
        all: unset;
    }

    .nav-list {
        all: unset;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        font-weight: 400;
    }

    .nav-link {
        all: unset;
        color: #2F1B02;
        cursor: pointer;
    }

    .nav-close-btn {
        display: none;
    }

    .hero-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .hero-left {
        text-align: left;
        max-width: 40%;
    }

    .about-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .about-img-1 {
        min-width: 45%;
        z-index: 1;
    }

    .about-img-1 img {
        border-top-left-radius: 6rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .about-img-3 {
        position: absolute;
        right: 0rem;
        bottom: 5rem;
        max-width: 26rem;
    }

    figure.about-img-2 {
        position: absolute;
        left: 18rem;
        bottom: 26rem;
        z-index: 1;
    }

    figure.about-img-2 img {
        max-width: 17rem;
        height: auto;
    }

    .about-content {
        min-width: 3rem;
        margin-inline-start: 13rem;
    }

}

/* desktop large screen divice design */
@media only screen and (min-width: 80rem) {
    .container {
        width: 100%;
        max-width: 78rem;
    }

    figure.about-img-2 img {
        max-width: 23rem;
    }

    figure.about-img-2 {
        bottom: 13rem;
        left: 29rem;
    }

    .about-img-3 {
        max-width: 33rem;
        bottom: 2rem;
        z-index: 1;
    }

    .about-content {
        max-width: 20rem;
        margin-block-start: 1rem;
    }

    .about-img-1 img {
        margin-block-start: 10rem;
    }

    .about-img-1 img {
        max-width: 85%;
    }
}