/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============== default css ============== */

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

section {
    padding-block: 5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ================= start styling header section ================== */

.header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-block: 1.6rem;
    z-index: 9;
    position: sticky;
    z-index: 8;
    width: 100%;
    top: 0rem;
    left: 0rem;
    right: 0rem;
}

.container {
    width: 100%;
    padding-inline: 1rem;
    margin: 0rem auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #2F1B02;
    font-size: 1.8rem;
}

.nav-bar {
    position: fixed;
    top: 0rem;
    left: -100%;
    visibility: hidden;
    max-width: 19rem;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 10;
    padding-inline: 1rem;
    padding-block-start: 1.4rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-bar.active {
    left: 0%;
    visibility: visible;
}

.nav-close-btn {
    margin-inline-start: auto;
    margin-block-end: 1.8rem;
    display: block;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    border: .1rem solid gray;
    cursor: pointer;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.nav-link {
    display: block;
    margin-block-end: 1.4rem;
    color: #333333;
    font-weight: 500;
    cursor: pointer;
}

.nav-open-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #2F1B02;
}

/* ================= starts styling hero section ================== */
.hero {
    background-color: white;
}

.hero-wrapper {
    text-align: center;
}

.hero-left {
    margin-block-end: 4rem;
}

.hero-left h1 {
    font-size: 2.5rem;
    margin-block-end: 1rem;
    color: #84715F;
}

.hero-left h1:first-child {
    color: #2F1B02;
}

.hero-left p {
    color: #666366;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin-block-end: 3rem;
}

.btn {
    background-color: #84715F;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding-inline: 2rem;
    padding-block: 1.1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.hero-btn:hover {
    background-color: #53473c;
}

.hero-btn i {
    font-size: .8rem;
    margin-inline-start: .5rem;
}

.hero-right {
    position: relative;
}

.hero-banner-1 img {
    border-radius: 15rem 15rem 1.5rem 1.5rem;
    margin-block-end: 2rem;
    max-width: 24rem;
    -webkit-border-radius: 15rem 15rem 1.5rem 1.5rem;
    -moz-border-radius: 15rem 15rem 1.5rem 1.5rem;
    -ms-border-radius: 15rem 15rem 1.5rem 1.5rem;
    -o-border-radius: 15rem 15rem 1.5rem 1.5rem;
}

.hero-banner-2 img {
    border-radius: 7rem 1.5rem 3rem 1rem;
    -webkit-border-radius: 7rem 1.5rem 3rem 1rem;
    -moz-border-radius: 7rem 1.5rem 3rem 1rem;
    -ms-border-radius: 7rem 1.5rem 3rem 1rem;
    -o-border-radius: 7rem 1.5rem 3rem 1rem;
}

.hero-shape {
    position: relative;
}

.hero-shape img {
    position: absolute;
    bottom: -0.5rem;
    right: 0rem;
    width: 10rem;
}

/* ================= start styling about section ================== */
.about {
    background-color: #2F1B02;
}

.about-img-1 img {
    border-radius: 1rem 1rem 6rem 1rem;
    -webkit-border-radius: 1rem 1rem 6rem 1rem;
    -moz-border-radius: 1rem 1rem 6rem 1rem;
    -ms-border-radius: 1rem 1rem 6rem 1rem;
    -o-border-radius: 1rem 1rem 6rem 1rem;
}

.about-img-1 h2 {
    color: white;
    font-size: 2.5rem;
    margin-block: 2rem;
}

.about-img-2 img {

    border-top-left-radius: 1rem;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 1rem;
}

.about-content {
    color: white;
    margin-inline-start: 0rem;
}

.about-content-title {
    color: white;
    font-size: 2.5rem;
    margin-block: 2rem;
}

.about-content-text {
    font-size: 1.08rem;
    line-height: 1.5rem;
}

.about-btn {
    margin-block: 2rem;
}

.about-img-3 img {
    border-radius: 1rem 1rem 5rem 1rem;
    -webkit-border-radius: 1rem 1rem 5rem 1rem;
    -moz-border-radius: 1rem 1rem 5rem 1rem;
    -ms-border-radius: 1rem 1rem 5rem 1rem;
    -o-border-radius: 1rem 1rem 5rem 1rem;
}

/* ================= start styling collection section ================== */
.collection {
    background-color: white;
}

.sec-head {
    text-align: center;
}

.sec-head h1 {
    font-size: 2.5rem;
    color: #2F1B02;
    margin-bottom: 1.6rem;
}

.sec-head p {
    margin-bottom: 3rem;
    font-size: 1.07rem;
    line-height: 1.6rem;
    color: #666366;
}

.collection-card {
    text-align: center;
    margin-block-end: 4rem;
}

.card-banner img {
    border-radius: 14rem 14rem 0.8rem 0.8rem;
    -webkit-border-radius: 14rem 14rem 0.8rem 0.8rem;
    -moz-border-radius: 14rem 14rem 0.8rem 0.8rem;
    -ms-border-radius: 14rem 14rem 0.8rem 0.8rem;
    -o-border-radius: 14rem 14rem 0.8rem 0.8rem;
}

.card-content h2 {
    font-size: 1.7rem;
    color: #2F1B02;
    margin-block: 1.3rem;
}

.card-content p {
    margin-bottom: 1.5rem;
    font-size: 1.07rem;
    line-height: 1.6rem;
    color: #666366;
}

/* ================= start styling feature section ================== */
/* .feature{} */

.feature-left-img {
    background: url(../img/feature-banner.jpg);
    padding-block: 12rem;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-right-content {
    background-color: #2F1B02;
    padding-block: 8rem;
    color: white;
}

button.play-btn {
    display: block;
    padding: 1.8rem;
    background: #301B04;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: auto;
    opacity: .9;
}

button.play-btn img {
    min-width: 3rem;
}

.feature-content-title h2 {
    font-size: 2.5rem;
    margin-block-end: 2rem;
}

.single-feature-content-box {
    list-style: none;
}

.single-feature-content-box li {
    display: flex;
    gap: 1rem;
    margin-block-end: 2.5rem;
}

.single-feature-content-icon {
    width: 4.8rem;
    height: 5rem;
    background-color: #84715F;
    padding: 2rem;
    border-radius: 3rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-feature-content-icon img {
    min-width: 2.8rem;
}

.single-feature-content-title h2 {
    margin-block-end: .6rem;
}

.feature-content-title p {
    margin-block-end: 2rem;
}

.single-feature-content-title p {
    line-height: 1.5rem;
    font-family: sans-serif;
}

/* =============== start styling testimonail section ================ */
.testimonial-wrapper {
    position: relative;
    padding-inline: 2rem;
}

.testimonial-wrapper h1 {
    font-size: 1.9rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #2F1B02;
    line-height: 2.4rem;
    margin-block-end: 2rem;
}

.qoute-icon {
    position: absolute;
    top: -5rem;
    left: 0rem;
    min-width: 3.3rem;
}

.testimonial-autor {
    color: #222;
    font-weight: 500;
    font-size: 1.1rem;
    margin-block-end: .5rem;
}

.testimonial-desc {
    color: #696969;
    font-weight: 500;
}

/* =============== start styling gallery section ================ */
.gallery {
    padding: 0rem;
}

.gallery-card {
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 1rem;
    color: white;
}

.gallery-card h2 {
    padding-block-start: 4rem;
    padding-block-end: 18rem;
    font-size: 1.8rem;
}

.gallery-card a {
    display: block;
    padding-block-end: 1.8rem;
    font-size: 1rem;
    color: white;
}

.gallery-card a i {
    font-size: .8rem;
    margin-left: .5rem;
}

.gallery-1 {
    background-image: linear-gradient(#00000073, #00000087), url(../img/gallery-1.jpg);
}


.gallery-2 {
    background-image: linear-gradient(#00000073, #00000087), url("../img/gallery-2.jpg");
}

.gallery-3 {
    background-image: linear-gradient(#00000073, #00000087), url("../img/gallery-3.jpg");
}

.gallery-4 {
    background-image: linear-gradient(#00000073, #00000087), url("../img/gallery-4.jpg");
}

/* =============== start styling blog section ================ */
.blog-card img {
    transition: 0.3s;
    transform: scale(1.1);
}

.blog-card {
    border-radius: 2rem 2rem 0rem 0rem;
    overflow: hidden;
    margin-block-end: 1rem;
}

.blog-card-bottom-content {
    padding-inline: 1rem;
    padding-block: 2rem;
}

h2.blog-card-title {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-block-end: 1.5rem;
}

.blog-card-meta span {
    margin-block-end: .5rem;
    display: block;
    color: #444444;
}

.blog-card-meta span i {
    font-size: .9rem;
    margin-inline-end: .2rem;
}

.blog-card-meta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.blog-card-meta span:first-child {
    width: 10rem;
}

.blog-btn {
    margin: auto;
    display: block;
}

/* =============== start styling footer section ================ */
.footer {
    background-color: #2F1B02;
}

.footer-wrapper {
    padding-block-start: 7rem;
}

.foot-logo a {
    display: block;
    font-size: 2rem;
    color: #84715F;
    margin-block-end: 1.5rem;
}

.single-foot p {
    color: white;
    margin-block-end: 1.5rem;
}

.foot-social-icon a {
    display: block;
    color: #84715F;
}

.foot-social-icon {
    display: flex;
    gap: 1rem;
}

.single-foot {
    margin-block-end: 3rem;
}

.single-foot h2 {
    color: #84715F;
    font-size: 1.1rem;
    font-weight: 500;
    margin-block-end: 2rem;
}

a.foot-nav-link {
    display: block;
    color: white;
    margin-block-end: 0.9rem;
}

.copy-right-center {
    border-top: 0.2rem solid #4F3B24;
    padding-block: 3rem;
    color: white;
    font-family: cursive;
    padding-inline: 1rem;
    text-align: center;
}